<p class="nav">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>local_hospital</mat-icon>
      </button>
      <span>Hospital Management System</span>
    </mat-toolbar>
  </p>
  <br>
  <br>
  <br>
  <mat-card>
    <mat-card-content><h1>Patient Medications</h1></mat-card-content>
    <mat-form-field class="example-full-width">
        <mat-label>Drugs</mat-label>
        <input matInput placeholder="what are the medicines prescribed to patient" required >
      </mat-form-field>

      <button mat-raised-button color="primary" class="example-full-width" >Submit</button>
  </mat-card>
